
@font-face {
    font-family:"tahu!";
    src: url(./Fonts/Tahu!.ttf);
}

@font-face {
    font-family: "bahnschrift";
    src: url(./Fonts/Bahnschrift/Regular.ttf);
}

/* ---------------------------------------------------- NAVIGATION ---------------------------------------------------- */

body{
    background-color: #1DFAA8;
}
    
a:hover{

    color: rgb(4, 75, 4);
    text-decoration: none;

    
}

.navbar{
    
position: fixed;
color: antiquewhite;
z-index: 1;
width: 992px;
height: 64px;
left: 17%;
top: 30px;
text-decoration: none;
    
    
background: rgba(255, 255, 255, 0.1);
border: 1.56195px solid #FFFFFF;
box-shadow: inset 25.668px -25.668px 25.668px rgba(194, 194, 194, 0.1), inset -25.668px 25.668px 25.668px rgba(255, 255, 255, 0.1);
backdrop-filter: blur(51.336px);
border-radius: 74.1925px;
}
    
.selecteur{

text-decoration: none;
color: antiquewhite;

}


.navbar .logo {
width: 7%;
padding-bottom: 8px;
    }
    
.titre {
    text-align: center;
    margin-top: 13%;
    color: white;
}

.titre > p {
    font-family: 'tahu!';
    font-size: 350%;
}

.text-center {
    margin-top: 3%;
}

.pre {
    margin-top: 10%;
}
